#ifndef {{ module.namespace|upper }}_MODULE_H
#define {{ module.namespace|upper }}_MODULE_H

#include <nucleus/nucleus.h>

/* module */
NU_API nu_result_t {{ module.namespace }}_module_info(nu_module_info_t *info);
NU_API nu_result_t {{ module.namespace }}_module_interface(const char *name, void *interface);

#endif